 
.cadre_du_versus{
    width: 575px;
    height:260px;
    padding: 20px;
    border: 2px solid blue;
display: flex;
flex-direction: row;
justify-content: space-between; 
background-color: rgba(87, 13, 13, 0.534);
  }

  .Minato{
      border: 2px solid black;
      
      
      
  }
  .Itachi{
      align-self: flex-end;
     border: 2px solid black;
     
    
    }
    
      
  

.vs{
align-self: center;
   

}
p{
    text-align: center;
}
body{
    background-color:burlywood;
}
audio{
    height: 5px;
    width: 50px;
 align-self: center;
}
